/*В pp всё точь-в-точь*/
header {
  padding: 90px 50px 158px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background-color: #fff;
}

/* начало стилей для навигации*/
.header_menu {
  min-width: 388px;
  color: #000;
  font-size: 18px;
  line-height: 21px;
}

.header_menu-list {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}

.header_menu li.header_list-item_no-bullit {
  list-style-type: none;
}

li.header_list-item {
  list-style-type: circle;
}

li a {
  color: #000;
}

.header_link_active {
  text-decoration: none;
}

.header a {
  text-underline-position: under;
}

.contacts {
  max-width: 240px;
}

ul.contacts-list {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  list-style-type: none;
}

.contacts-list_item-link {
  text-decoration: underline;
}

.header-logo {
  flex-shrink: 0;
  width: 148px;
  height: 105px;
}

.header-logo_image {
  padding-right: 145px;
}

.content {
  max-width: 1440px;
}

.cover {
  position: relative;
  z-index: 0;
  width: inherit;
  min-height: 757px;
  background: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.cover-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
}

.cover-content_item {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

/*cтили для оно*/

.text-center {
  align-self: center;
  line-height: 1;
}

/* стили для тебе*/
.text-right {
  align-self: end;
  line-height: 1;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/*стили для оно*/

/* стили для subline*/
.cover_description {
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  padding: 0 50px 50px;
}

.cover_description-text {
  margin: 12px 0;
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 17px;
}

.word-spacing {
  word-spacing: 25px;
}

.bet-button {
  align-self: center;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 1.18;
  text-transform: uppercase;
  background-color: transparent;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  width: inherit;
  padding: 159px 50px 0;
}

.lots_heading {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots_card-list_item {
  width: 430px;
  height: 450px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  justify-content: space-between;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-bottom: 2px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-underline-position: under;
}

.about {
  display: flex;
  gap: 25px;
  padding: 159px 50px 0;
}

div.about_column {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: start;
  min-width: 430px;
  min-height: 240px;
}

.about_logo {
  border-radius: 50%;
  padding: 63px 46px;
  background-color: #000;
}

.header-logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
}

article.about_column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 100px;
  padding-top: 100px;
}

.about_title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-size: 20px;
  line-height: normal;
}

footer {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 159px 50px 90px;
}

.footer a {
  text-underline-position: under;
}

.footer_menu {
  color: #000;
  font-size: 18px;
  line-height: 21px;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_menu-list li {
  list-style-type: none;
}

.footer_link_active {
  text-decoration: none;
}

.footer_link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer_social-list {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}

.footer_social-list-item {
  list-style-type: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}